<!--new bottle form-->
<form name="AddBeverageForm" id="beverage-form" class="form-inline" role="form">
    <div class="form-group col-sm-2 text-left">
        <input type="text" class="form-control" id="img-path"
               ng-model="shelfCtrl.bottle.imageUrl"
               placeholder="Photo url" size="10"/>
    </div>

    <div class="form-group col-sm-2 text-left">
        <datalist id="ingredients" name="ingredientSelect">
            <option value="{{ingredient.kind}}" ng-repeat="ingredient in shelfCtrl.ingredients"/>
        </datalist>
        <input type="text" class="form-control" list="ingredients"
               data-ng-model="shelfCtrl.bottle.ingredient.kind"
               placeholder="Beverage" size="10">
    </div>
    <div class="form-group col-sm-2 text-left">
        <input type="text" id="brand" class="form-control"
               ng-model="shelfCtrl.bottle.brandName"
               required ng-trim="true"
               placeholder="Brand name" size="10">
    </div>
    <div class="form-group col-sm-2 text-left">
        <datalist id="volumes" name="volumeSelect">
            <option value="0.5"/>
            <option value="0.7"/>
            <option value="1.0"/>
        </datalist>
        <input type="text" list="volumes" class="form-control"
               ng-model="shelfCtrl.bottle.volume" required ng-trim="false"
               placeholder="Volume" size="7">
    </div>
    <div class="form-group col-sm-2 text-left">
        <input type="text" class="form-control" id="price"
               ng-model="shelfCtrl.bottle.price" required ng-trim="false"
               placeholder="Price (UAH)" size="7">
    </div>
    <div class="form-group col-sm-1">
        <input type="checkbox" class="checkbox"
               ng-model="shelfCtrl.bottle.inShelf" ng-true-value="'YES'" ng-false-value="'NO'">
    </div>
    <div class="form-group col-sm-1 text-right">
        <button class="btn btn-link" ng-click="shelfCtrl.save()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-link" ng-click="shelfCtrl.formPanel = false">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</form>