<!--new cocktail form-->
<form name="CocktailForm" role="form" ng-submit="cocktailCtrl.save()" novalidate>
    <input type="hidden" ng-model="cocktailCtrl.cocktail.id"/>
    <!--name-->
    <div class="form-group required">
        <label class="control-label" for="name">Name</label>

        <div ng-class="{ 'has-error': CocktailForm.name.$touched && CocktailForm.name.$invalid }">
            <input type="text" class="form-control" id="name" name="name" ng-model="cocktailCtrl.cocktail.name"
                   placeholder="Enter name of cocktail"
                   ng-required="true"/>

            <div class="help-block" ng-messages="CocktailForm.name.$error" ng-if="CocktailForm.name.$touched">
                <p ng-message="required">Cocktail name is required.</p>
            </div>
        </div>
    </div>
    <!--imageUrl-->
    <div class="form-group">
        <label class="control-label" for="img-path">Photo url</label>

        <div ng-class="{ 'has-error': CocktailForm.photoUrl.$touched && CocktailForm.photoUrl.$invalid }">
            <input type="url" class="form-control" id="img-path" name="photoUrl"
                   ng-model="cocktailCtrl.cocktail.imageUrl"
                   placeholder="Enter url of photo with desired cocktail"/>

            <div class="help-block" ng-messages="CocktailForm.photoUrl.$error" ng-if="CocktailForm.photoUrl.$touched">
                <p ng-message="valid">This needs to be a valid url.</p>
            </div>
        </div>
    </div>
    <!--MenuItems-->
    <div class="form-group required">
        <label class="control-label" for="menuItem">Related to menu</label>

        <div ng-class="{ 'has-error': CocktailForm.menuItem.$touched && CocktailForm.menuItem.$invalid }">
            <select class="form-control" id="menuItem" name="menuItem"
                    ng-options="menu.name as menu.translation for menu in cocktailCtrl.menuItems"
                    ng-model="cocktailCtrl.cocktail.relatedToMenu" required>
            </select>

            <div class="help-block" ng-messages="CocktailForm.menuItem.$error" ng-if="CocktailForm.menuItem.$touched">
                <p ng-message="required">Menu selection is required.</p>
            </div>
        </div>
    </div>
    <!--description-->
    <div class="form-group">
        <label class="control-label" for="cocktail-description">Description</label>
        <textarea class="form-control" rows="5" id="cocktail-description"
                  ng-model="cocktailCtrl.cocktail.description"
                  placeholder="Enter some nuances regarding cocktail preparation or whatever">
        </textarea>
    </div>
    <!--ingredients selection-->
    <div class="form-group" ng-if="cocktailCtrl.hasIngredients(cocktailCtrl.cocktail)">
        <label class="control-label" for="ingredients">Ingredients</label>
        <ul class="list-unstyled" id="ingredients"
            ng-repeat="(groupName, ingredients) in cocktailCtrl.cocktail.ingredients">
            <li>
                <div>
                    <span ng-if="cocktailCtrl.cocktail.ingredients[groupName].length > 0">{{groupName | uppercase}}</span>
                </div>
                <ul class="list-group list-unstyled">
                    <li class="list-group-item" ng-repeat="ingredient in ingredients">
                        <div>
                            <div class="clearfix">
                                <input title="volume.range" type="range" ng-model="ingredient.volume"
                                       min="0" max="{{ingredient.isLiquid() ? 250 : 50}}" step="{{ingredient.isLiquid() ? 5 : 1}}"/>
                            </div>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <span class="text-left">{{ingredient.volume}} {{ingredient.measurement}} of {{ingredient.getKind()}}</span>
                                </div>
                                <div class="pull-right">
                                    <!--TODO inline does not work :(-->
                                    <ul class="list-inline" ng-repeat="measurement in cocktailCtrl.getMeasurements(groupName)">
                                        <li>
                                            <input title="{{measurement}}" type="radio" ng-model="ingredient.measurement" value="{{measurement}}"/>
                                            {{measurement}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--action buttons-->
    <div class="form-group">
        <button type="button" class="btn" ng-click="cocktailCtrl.showIngredients()">
            <span class="glyphicon"
                  ng-class="!cocktailCtrl.hasIngredients(cocktailCtrl.cocktail) ? 'glyphicon-plus' : 'glyphicon-list'"></span>
            <span>{{!cocktailCtrl.hasIngredients(cocktailCtrl.cocktail) ? 'Add' : 'Choose'}} ingredients</span>
        </button>
    </div>
    <div class="form-group pull-right">
        <!--only custom cocktails can be edited-->
        <button type="button" class="btn btn-default" onclick="window.history.back()" ng-if="!cocktailCtrl.isNew">
            <span>Back</span>
        </button>
        <button type="button" class="btn btn-danger" ng-if="cocktailCtrl.cocktail.id" ng-click="cocktailCtrl.delete()">
            <span>Delete</span>
        </button>
        <button type="reset" class="btn btn-warning" ng-disabled="CocktailForm.$pristine"
                ng-click="cocktailCtrl.reset(); CocktailForm.$setPristine()">
            <span>Reset</span>
        </button>
        <input type="submit" class="btn btn-primary"
               ng-disabled="CocktailForm.$invalid || CocktailForm.$pristine || !cocktailCtrl.hasIngredients(cocktailCtrl.cocktail)"
               value="{{!cocktailCtrl.cocktail.id ? 'Add' : 'Update'}}"/>
    </div>
</form>