<!--new cocktail form-->
<form name="CocktailForm" role="form" ng-submit="cocktailCtrl.save()" novalidate>
    <input type="hidden" ng-model="cocktailCtrl.cocktail.id"/>
    <!--name-->
    <div class="form-group required">
        <label class="control-label" for="name">Name</label>

        <div ng-class="{ 'has-error': CocktailForm.name.$touched && CocktailForm.name.$invalid }">
            <input type="text" class="form-control" id="name" name="name" ng-model="cocktailCtrl.cocktail.name"
                   placeholder="Enter name of cocktail"
                   ng-required="true"/>

            <div class="help-block" ng-messages="CocktailForm.name.$error" ng-if="CocktailForm.name.$touched">
                <p ng-message="required">Cocktail name is required.</p>
            </div>
        </div>
    </div>
    <!--imageUrl-->
    <div class="form-group">
        <label class="control-label" for="img-path">Photo url</label>

        <div ng-class="{ 'has-error': CocktailForm.photoUrl.$touched && CocktailForm.photoUrl.$invalid }">
            <input type="url" class="form-control" id="img-path" name="photoUrl"
                   ng-model="cocktailCtrl.cocktail.imageUrl"
                   placeholder="Enter url of photo with desired cocktail"/>

            <div class="help-block" ng-messages="CocktailForm.photoUrl.$error" ng-if="CocktailForm.photoUrl.$touched">
                <p ng-message="valid">This needs to be a valid url.</p>
            </div>
        </div>
    </div>
    <!--drinkType-->
    <div class="form-group required">
        <label class="control-label" for="drinkType">Drink type</label>

        <div ng-class="{ 'has-error': CocktailForm.drinkType.$touched && CocktailForm.drinkType.$invalid }">
            <select class="form-control" id="drinkType" name="drinkType"
                    ng-options="type.name as type.translation for type in cocktailCtrl.drinkTypes"
                    ng-model="cocktailCtrl.cocktail.relatedToMenu" required>
            </select>

            <div class="help-block" ng-messages="CocktailForm.drinkType.$error" ng-if="CocktailForm.drinkType.$touched">
                <p ng-message="required">Cocktail's type selection is required.</p>
            </div>
        </div>
    </div>
    <!--description-->
    <div class="form-group">
        <label class="control-label" for="cocktail-description">Description</label>
        <textarea class="form-control" rows="5" id="cocktail-description"
                  ng-model="cocktailCtrl.cocktail.description"
                  placeholder="Enter some nuances regarding cocktail preparation or whatever">
        </textarea>
    </div>
    <!--ingredients selection-->
    <div class="form-group" ng-if="cocktailCtrl.cocktail.ingredients.length != 0">
        <label class="control-label" for="ingredients">Selected Ingredients</label>
        <ul id="ingredients" class="list-group list-unstyled" ng-repeat="(groupName, ingredients) in cocktailCtrl.cocktail.ingredients">
            <li ng-repeat="ingredient in ingredients">
                <div class="list-group-item" ng-if="ingredient.unitsValue">
                    <input type="range" ng-model="ingredient.volume" min="5" max="250" step="5">
                    {{ingredient.getKind()}}<span class="badge">{{ingredient.volume}} {{ingredient.unitsValue}}</span>
                    </input>
                </div>
                <span class="list-group-item" ng-if="!ingredient.unitsValue">{{ingredient.getKind()}}</span>
            </li>
        </ul>
    </div>
    <!--action buttons-->
    <div class="form-group">
        <button class="btn btn-link" ng-click="cocktailCtrl.showIngredients()">
            <span class="glyphicon" ng-class="cocktailCtrl.cocktail.ingredients.length == 0 ? 'glyphicon-plus' : 'glyphicon-pencil'"></span>
            <span>{{cocktailCtrl.cocktail.ingredients.length == 0 ? 'Add' : 'Update'}} ingredients</span>
        </button>
    </div>
    <div class="form-group pull-right">
        <!--only custom cocktails can be edited-->
        <button class="btn btn-default" ng-href="my/cocktails">
            <span>Back</span>
        </button>
        <button class="btn btn-danger" ng-if="cocktailCtrl.cocktail.id" ng-click="cocktailCtrl.delete()">
            <span>Delete</span>
        </button>
        <button type="button" class="btn btn-warning" ng-disabled="CocktailForm.$pristine"
                ng-click="cocktailCtrl.newCocktail(); CocktailForm.$setPristine()">
            <span>Reset</span>
        </button>
        <input type="submit" class="btn btn-primary"
               ng-disabled="CocktailForm.$invalid || CocktailForm.$pristine || cocktailCtrl.cocktail.ingredients.length == 0"
               value="{{!cocktailCtrl.cocktail.id ? 'Add' : 'Update'}}"/>
    </div>
</form>