<div ng-include="'views/templates/menu-bar.html'"></div>
<h2>My {{currentMenuName}}</h2>
<div id="cocktails" ng-controller="CocktailsController as cocktailsCtrl">
    <div class="col-lg-12 margin-top-30" ng-repeat="item in cocktailsCtrl.cocktails"
         ng-if="item.state != 'NOT_AVAILABLE'">

        <div id="cover" class="col-lg-4">
            <img class="img-responsive" ng-src="{{item.coverUrl || 'img/blank.gif'}}"
                 ng-class="{true: '', false: 'no-available'}[!!item.coverUrl]"/>
        </div>

        <div class="col-lg-7 col-lg-push-1" style="">
            <div style="">
                <a href="#cocktails/{{item.id}}">
                    <h2>{{item.name}}</h2>
                </a>
                <label>{{item.price | currency:"UAH"}}</label>
            </div>
            <div style="">
                <a href="#cocktails/{{item.id}}">
                    <button class="btn">
                        <span class="glyphicon glyphicon-edit"></span>
                        Edit
                    </button>
                </a>
                <button ng-click="cocktailsCtrl.delete(item)" class="btn">Delete</button>
            </div>
        </div>

    </div>
</div>