<div id="cocktail">
    <h2>{{cocktailCtrl.cocktail.name}}</h2>

    <div class="col-lg-12 margin-top-30" ng-if="cocktailCtrl.isNew || !!cocktailCtrl.cocktail">
        <div id="cover" class="col-lg-4">
            <img class="img-responsive" ng-src="{{cocktailCtrl.cocktail.imageUrl || 'img/blank.gif'}}"
                 ng-class="{true: '', false: 'no-available'}[!!cocktailCtrl.cocktail.imageUrl]"/>
        </div>
        <div id="description" class="col-lg-7 col-lg-push-1">
            <form role="form" name="cocktailCtrl.CocktailForm">
                <div>
                    <div class="form-group">
                        <label for="img-path">Photo url:</label>
                        <input type="url" class="form-control" id="img-path"
                               ng-model="cocktailCtrl.cocktail.imageUrl"/>
                    </div>

                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" ng-model="cocktailCtrl.cocktail.name" ng-required="true"/>
                    </div>

                    <div class="form-group">
                        <label for="cocktail-description">Description:</label>
                        <textarea class="form-control" rows="5" id="cocktail-description"
                                  ng-model="cocktailCtrl.cocktail.description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="type">Select drink type (select one): {{cocktailCtrl.cocktail.menuId}}</label>
                        <select class="form-control" id="type"
                                ng-options="type.id as type.name for type in cocktailCtrl.drinkTypes"
                                ng-model="cocktailCtrl.cocktail.menuId" required>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ingredients">Selected Ingredients:</label>
                        <ul id="ingredients" class="list-group"
                            ng-repeat="ingredient in cocktailCtrl.cocktail.ingredients">
                            <li class="list-group-item" ng-if="ingredient.units">
                                <input type="range" ng-model="ingredient.volume" min="5" max="250" step="5">
                                {{ingredient.getKind()}}<span class="badge">{{ingredient.volume}} {{ingredient.units}}</span>
                                </input>
                            </li>
                            <li class="list-group-item" ng-if="!ingredient.units">
                                <span>{{ingredient.getKind()}}</span>
                            </li>
                        </ul>
                    </div>
                    <button class="btn" ng-click="cocktailCtrl.showIngredients()">
                        <span ng-show="cocktailCtrl.cocktail.ingredients.length == 0">Add ingredients</span>
                        <span ng-hide="cocktailCtrl.cocktail.ingredients.length == 0">Select ingredients</span>
                    </button>
                    <button class="btn" ng-click="cocktailCtrl.save()"
                            ng-disabled="cocktailCtrl.CocktailForm.$invalid || cocktailCtrl.CocktailForm.$pristine">
                        <span>Save</span>
                    </button>
                    <button class="btn" ng-if="!cocktailCtrl.isNew" ng-click="cocktailCtrl.delete()">
                        <span>Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div ng-hide="cocktailCtrl.cocktail">No item found</div>
</div>