<div class="row">
    <div class="carousel">
        <img src="img/home/Basically-Cocktails-Rye-Bourbon-Lede.jpg" class="img-responsive">
        <div class="banner-text">
            <span class="h3">Learn Mixology – in your own home</span>
        </div>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-lg-12" ng-init="introSteps = ['Add ingredients', 'Check what you can', 'Make it :)']">
        <div class="col-lg-4" ng-repeat="step in introSteps">
            <img ng-src="img/home/step_{{$index + 1}}.jpg" alt="..." class="img-responsive">
            <div class="text-center">
                <h1>Step {{$index + 1}}</h1>
                <h2 class="lead">{{::step}}</h2>
            </div>
        </div>
    </div>
</div>