<div class="row">
    <div class="carousel">
        <img src="img/savoury_cocktail_london_barbican_neo_bar_1.jpg" class="img-responsive">

        <div class="banner-text">
            <span>Learn Mixology – in your own home</span>
        </div>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-lg-12"
         ng-init="welcomePageStepThumbnails = ['Add ingredients', 'Check what you can', 'Make it :)']">

        <div class="col-lg-4" ng-repeat="step in welcomePageStepThumbnails">
            <img ng-src="img/footer/step_{{$index + 1}}.jpg" alt="..." class="center-block thumbnail">

            <div class="text-center">
                <h1>Step {{$index + 1}}</h1>

                <h2 class="lead">{{step}}</h2>
            </div>
        </div>
    </div>
</div>