<h2>My Bar</h2>
<div id="shelf" class="margin-top-30">

    <div ng-switch on="shelfCtrl.formPanel">
        <!--plus button panel-->
        <div class="col-sm-2 col-sm-push-10 text-right" ng-switch-when='false'>
            <button class="btn" ng-click="shelfCtrl.formPanel = true; shelfCtrl.createEmptyProduct()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <!--new bottle form-->
        <form name="AddBeverageForm" id="ingredientForm" class="form-inline" role="form" ng-switch-when='true'>
            <div class="form-group col-sm-2 text-left">
                <input type="text" class="form-control" id="img-path"
                       ng-model="shelfCtrl.product.pictureUrl"
                       placeholder="Photo url" size="10"/>
            </div>

            <div class="form-group col-sm-2 text-left">
                <datalist id="ingredients" name="ingredientSelect">
                    <option value="{{ingredient.kind}}" ng-repeat="ingredient in shelfCtrl.ingredients"/>
                </datalist>
                <input type="text" class="form-control" list="ingredients"
                       ng-model="shelfCtrl.product.ingredient.kind"
                       placeholder="Beverage" size="10">
            </div>
            <div class="form-group col-sm-2 text-left">
                <input type="text" id="brand" class="form-control"
                       ng-model="shelfCtrl.product.brandName" ng-pattern="/^\s*\w*\s*$/"
                       required ng-trim="true"
                       placeholder="Brand name" size="10">
            </div>
            <div class="form-group col-sm-2 text-left">
                <datalist id="volumes" name="volumeSelect">
                    <option value="0.5"/>
                    <option value="0.7"/>
                    <option value="1.0"/>
                </datalist>
                <input type="text" list="volumes" class="form-control"
                       ng-model="shelfCtrl.product.volume" required ng-trim="false"
                       placeholder="Volume" size="7">
            </div>
            <div class="form-group col-sm-2 text-left">
                <input type="text" class="form-control" id="price"
                       ng-model="shelfCtrl.product.price" required ng-trim="false"
                       placeholder="Price (UAH)" size="7">
            </div>
            <div class="form-group col-sm-1">
                <input type="checkbox" class="checkbox"
                       ng-model="shelfCtrl.product.active" ng-true-value="'YES'" ng-false-value="'NO'">
            </div>
            <div class="form-group col-sm-1 text-right">
                <button class="btn" ng-click="shelfCtrl.save()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn" ng-click="shelfCtrl.formPanel = false">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </form>
    </div>

    <table class="table table-condensed margin-top-30" ng-if="shelfCtrl.getItemsInShelf.length">
        <thead>
        <tr>
            <th class="col-sm-2"><span class="glyphicon glyphicon-picture"></span></th>
            <th class="col-sm-2"></span>Beverage</th>
            <th class="col-sm-2">Brand name</th>
            <th class="col-sm-2">Volume</th>
            <th class="col-sm-2">Price</th>
            <th class="col-sm-1">Active</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="item.active == 'YES' ? 'active' : ''"
            ng-repeat="item in shelfCtrl.getItemsInShelf | orderBy:'ingredient.kind':false | orderBy:['active']">
            <td class="col-sm-2"><img class="img-responsive" ng-src="{{item.imageUrl || 'img/blank.gif'}}" ng-class="{true: '', false: 'no-available'}[!!item.imageUrl]"/></td>
            <td class="col-sm-2">{{item.ingredient.kind}}</td>
            <td class="col-sm-2">{{item.brandName}}</td>
            <td class="col-sm-2">{{item.volume}}</td>
            <td class="col-sm-2">{{item.price}}</td>
            <td class="col-sm-1">
                <input type="checkbox" class="checkbox" ng-checked="item.active == 'YES'"
                       ng-model="item.active" ng-true-value="'YES'" ng-false-value="'NO'">
            </td>
            <td class="col-sm-1 text-right">
                <button class="btn" type="button" ng-click="shelfCtrl.edit(item)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn" type="button" ng-click="shelfCtrl.delete(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>