<div ng-include="'views/templates/nav/my_space.html'"></div>
<h2>My Shelf</h2>
<div id="new_bottle" ng-switch on="shelfCtrl.formPanel">
    <!--plus button panel-->
    <div ng-switch-when='false' class="text-right margin-top-30">
        <button class="btn btn-link" ng-click="shelfCtrl.formPanel = true; shelfCtrl.newBottle()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <div ng-switch-when='true' class="margin-top-30">
        <div ng-include="'views/templates/forms/bottle.html'"></div>
    </div>
</div>
<div id="shelf" class="margin-top-30">
    <table class="table table-condensed" ng-if="shelfCtrl.itemsInShelf.length">
        <thead>
        <tr>
            <th class="col-sm-2"><span class="glyphicon glyphicon-picture"></span></th>
            <th class="col-sm-2">Beverage Kind</th>
            <th class="col-sm-2">Brand name</th>
            <th class="col-sm-2">Volume</th>
            <th class="col-sm-2">Price</th>
            <th class="col-sm-1">In Shelf</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="item.inShelf == 'YES' ? 'active' : ''"
            ng-repeat="item in shelfCtrl.itemsInShelf | orderBy:['inShelf']">
            <td class="col-sm-2"><img class="img-responsive" ng-src="{{item.imageUrl || 'img/blank.gif'}}" ng-class="{true: '', false: 'no-available'}[!!item.imageUrl]"/></td>
            <td class="col-sm-2">{{shelfCtrl.getIngredientKind(item.ingredient.id)}}</td>
            <td class="col-sm-2">{{item.brandName}}</td>
            <td class="col-sm-2">{{item.volume}}</td>
            <td class="col-sm-2">{{item.price}}</td>
            <td class="col-sm-1">
                <input type="checkbox" class="checkbox" ng-checked="item.inShelf == 'YES'"
                       ng-model="item.inShelf" ng-true-value="'YES'" ng-false-value="'NO'">
            </td>
            <td class="col-sm-1 text-right">
                <button class="btn btn-link" type="button" ng-click="shelfCtrl.edit(item)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-link" type="button" ng-click="shelfCtrl.delete(item)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-hide="shelfCtrl.itemsInShelf.length" class="text-center">
        <span class="h3">You don't have any alcoholic beverages on your shelf yet.</span><br>
        <span class="h4">Tap <span class="glyphicon glyphicon-plus"></span> to add a bottle, and it will show up here.</span>
    </div>
</div>