/* main navigation */

header .navbar {
    margin-bottom: 0;
}

.navbar-header > a {
    height: 105px;
    padding-top: 42px;
}

.navbar-nav > li > a {
    padding: 42px 0;
    width: 105px;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid #F4F4F4;
}

/* home page content */

.carousel .banner-text {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: .8;
}

.carousel .banner-text span {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 10px;
    margin: 0 0 5px 0;
    float: right;
    clear: both;
}

/* sticky footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 170px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    /* Set the height of the footer here */
    height: auto;
    color: #EEEEEE;
    background-color: #000000;
}

/* pages */

.cocktails-divider {
    margin: 80px 0;
}

#cocktails img.not-available,
#cocktails img.not-available,
#new_cocktail img.not-available {
    border: 5px solid dimgrey;
}

#shelf .table > tbody > tr > td {
    vertical-align: middle;
}

#cocktails #title > .h2 {
    color: #2b669a
}

#cocktails #details > h2 {
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #e6e6e6;
}

#cocktails #details ul {
    list-style-type: disc;
}

#cocktails #details ul li {
    margin: 10px 0;
}

#cocktails #details ul li,
#cocktails #details:last-child {
    font-size: larger;
}

.img-muted {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.form-group.required .control-label:after {
    color: #d00;
    content: '*';
    position: relative;
    margin-left: 8px;
}