<div id="cocktails" ng-repeat="item in cocktailsCtrl.cocktails | orderBy: 'name'">
    <div class="row margin-bottom-30">
        <div class="col-lg-12" id="title">
            <span class="h2"
                  ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']"><strong>{{item.name}}</strong>
            </span>
            <span class="text-warning text-muted" ng-if="item.state == 'NOT_AVAILABLE'">
                <i> ..not available since not all ingredients are present</i>
            </span>
            <a class="btn btn-link pull-right" ng-if="item.isCustom" href="my/cocktails/{{item.id}}/edit" title="Edit cocktail details">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 margin-bottom-30" id="cover" ng-class="{true: 'img-muted'}[item.state == 'NOT_AVAILABLE']">
            <img class="img-responsive" ng-src="{{item.imageUrl || 'img/blank.gif'}}"
                 ng-class="{true: '', false: 'not-available'}[!!item.imageUrl]"/>
        </div>

        <div class="col-lg-7 col-lg-offset-1" id="details">
            <h2 ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']">Ingredients:</h2>
            <ul ng-repeat="(groupName, ingredients) in item.ingredients">
                <!--{{groupName}}-->
                <li ng-repeat="ingredient in ingredients" ng-class="{true: 'bg-warning'}[ingredient.missing]">
                    <span ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']">
                        {{ingredient.volume}}
                    </span>
                    <span ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']">
                        {{ingredient.units}}
                    </span>
                    <span ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']">
                        <strong>{{cocktailsCtrl.getIngredientKind(groupName, ingredient.ingredientId)}}</strong>
                    </span>
                    <span class="text-warning pull-right" ng-if="ingredient.missing">
                        <i>missing</i>
                    </span>
                </li>
            </ul>
            <h2 ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']">Description:</h2>

            <p class="text-justify" ng-class="{true: 'text-muted'}[item.state == 'NOT_AVAILABLE']">
                {{item.description}}
            </p>
            <div class="margin-top-30" ng-if="!item.isCustom">
                <button class="btn btn-default" ng-click="item.liked = !item.liked">
                    <span class="glyphicon" ng-class="!item.liked ? 'glyphicon-heart-empty' : 'glyphicon-heart'"></span>
                    {{!item.liked ? 'Add' : 'Added'}} to My Likes
                </button>
            </div>
        </div>
    </div>
    <hr class="cocktails-divider">
</div>