<div id="cocktails" ng-repeat="item in cocktailsCtrl.cocktails | orderBy: 'name'">
    <div class="row margin-bottom-30">
        <div class="col-lg-12" id="title">
            <span class="h2"
                  ng-class="{true: 'text-muted'}[item.available == 'NO']"><strong>{{item.name}}</strong>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 margin-bottom-30" id="cover" ng-class="{true: 'img-muted'}[item.available == 'NO']">
            <img class="img-responsive" ng-src="{{item.imageUrl || 'img/blank.gif'}}"
                 ng-class="{true: '', false: 'not-available'}[!!item.imageUrl]"/>
        </div>

        <div class="col-lg-7 col-lg-offset-1" id="details">
            <h2 ng-class="{true: 'text-muted'}[item.available == 'NO']">Ingredients:</h2>
            <ul class="list-unstyled" ng-repeat="(groupName, ingredients) in item.ingredients">
                <!--{{groupName}}-->
                <li ng-repeat="ingredient in ingredients" ng-class="{true: 'bg-warning'}[ingredient.missing]">
                    <span ng-class="{true: 'text-muted'}[item.available == 'NO']">
                        {{ingredient.volume}}
                    </span>
                    <span ng-class="{true: 'text-muted'}[item.available == 'NO']">
                        {{ingredient.measurement}}
                    </span>
                    <span ng-class="{true: 'text-muted'}[item.available == 'NO']">
                        <strong>{{ingredient.ingredientId | kind: cocktailsCtrl.ingredients: groupName}}</strong>
                    </span>
                    <span class="text-warning pull-right" ng-if="ingredient.missing">
                        <i>missing</i>
                    </span>
                </li>
            </ul>
            <h2 ng-class="{true: 'text-muted'}[item.available == 'NO']">Description:</h2>

            <p class="text-justify" ng-class="{true: 'text-muted'}[item.available == 'NO']">
                {{item.description}}
            </p>
            <a role="button" class="margin-top-30 btn btn-warning pull-right" href="my/cocktails/{{item.id}}/edit"
               title="Edit cocktail">Edit <u ng-bind="item.name"></u>
            </a>
        </div>
    </div>
    <hr class="cocktails-divider">
</div>