<div class="ngdialog-content">
    <div ng-repeat="(groupName, ingredients) in selectIngredientsCtrl.data">
        {{groupName | uppercase}}
        <div ng-repeat="item in ingredients">
        <div class="action-checkbox">
            <input id="{{item.kind}}" type="checkbox" value="{{item.id}}"
                   ng-checked="selectIngredientsCtrl.isChecked(groupName, item.id)"
                   ng-click="selectIngredientsCtrl.toggleSelection(groupName, item.id)"/>
            <label for="{{item.kind}}"></label>
            {{item.kind}}
        </div>
        </div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">OK</button>
    </div>
</div>