<div class="ngdialog-content">
    <div ng-repeat="item in ingredientsListCtrl.data">
        <div class="action-checkbox">
            <input id="{{item.kind}}" type="checkbox" value="{{item.id}}"
                   ng-checked="ingredientsListCtrl.isChecked(item.id)"
                   ng-click="ingredientsListCtrl.toggleSelection(item.id, item.type)"/>
            <label for="{{item.kind}}"></label>
            {{item.kind}}
        </div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">OK</button>
    </div>
</div>